<a href="https://colab.research.google.com/github/PSM678/Task-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
ch = input("Enter a character: ").lower()
if len(ch) == 1 and ch.isalpha():
    if ch in "aeiou":
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Invalid input! Please enter a single alphabet character.")

Enter a character: m
Consonant

In [3]:

year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

Enter a year: 2004
2004 is a Leap Year

In [4]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
print("The largest number is:", max(a, b, c))

Enter first number: 15
Enter second number: 20
Enter third number: 10
The largest number is: 20.0

In [5]:
num = int(input("Enter a number: "))
if num % 5 == 0 and num % 11 == 0:
    print("The number is divisible by both 5 and 11")
else:
    print("The number is not divisible by both 5 and 11")

Enter a number: 58
The number is not divisible by both 5 and 11

In [6]:
n = int(input("Enter a number: "))
print("Sum is:", n * (n + 1) // 2)

Enter a number: 67
Sum is: 2278

In [7]:
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(num, "x", i, "=", num * i)
    i += 1

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [8]:
rows = 4
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

   *
  ***
 *****
*******

In [9]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

1
12
123
1234
12345